<div class="center hero-unit">
	<h1>We Know Water...</h1>
	<h1>Every Single Drop!</h1>
	<h2>
		We know how to treat water .... and how water should treat you!
		<a href="http://railstutorial.org/">Utah Water</a>
	</h2>

	<%= link_to "Sign up now", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
